.body{
    margin: 0px; 
}

.boy{
    height: 250px;
    margin-top: 320px;
    position: absolute;
}

.background{

    height: 100vh;
    width: 100%;
    background-image: url(Resources/background.jpeg);
    background-repeat: repeat-x;
    background-size: contain;
    overflow-x: hidden;
}

.box{
    width: 35px;
    height: 35px;
    background-color: black;
    position: absolute;
    margin-top: 500px;
}